@charset "UTF-8";
/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
@font-face {
  font-family: "YClover-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Handletter";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Handletter.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

a {
  text-decoration: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.dot {
  top: 0;
  left: 0;
  z-index: 999;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
  pointer-events: none;
  display: block;
}
.dot.over {
  width: 50px;
  height: 50px;
}
@media (max-width: 767px) {
  .dot {
    display: none !important;
  }
}

/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
@font-face {
  font-family: "YClover-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Handletter";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Handletter.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  height: 100%;
  transition: background-color 1s ease;
  background-color: #fff;
  margin: 0;
  line-height: 1.2;
  overflow-x: hidden;
}
body.open {
  overflow: hidden;
}
body.open .header {
  opacity: 0;
}

.more-arrow {
  background: url("../img/icon_right_arrow.png") no-repeat center;
  background-size: 22px;
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-left: 6px;
}

* {
  color: #242424;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  z-index: 20;
  min-width: 1260px;
  background-color: transparent;
  transition: all 0.2s;
}
.header__inner {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 20px 0;
  transition: all 0.2s;
}
.header .main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  padding: 0 3.5rem;
}
.header .main-menu .logo a {
  color: #fff;
  font-size: 26px;
  font-family: "Handletter", sans-serif;
}
.header .main-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.5rem;
}
.header .main-menu-item .menu-name {
  color: #fff;
  font-size: 16px;
}
.header .main-menu-item::after {
  content: "";
  display: block;
  width: 0;
  height: 1.5px;
  background: #fff;
  transition: all 0.5s;
}
.header .main-menu-item:hover::after {
  width: 100%;
}
.header.nav-up {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}
.header.nav-bg {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.header.nav-bg .main-menu-item::after {
  background: #242424;
}
.header.nav-bg .menu-name,
.header.nav-bg .logo > a {
  color: #242424;
}
@media (max-width: 767px) {
  .header {
    position: absolute;
    width: 100%;
    min-width: auto;
  }
  .header .main-menu {
    display: flex;
    align-items: start;
    padding: 0 1.5rem;
  }
  .header .main-menu-container {
    flex-direction: column;
    gap: 1rem;
    align-items: end;
  }
  .header .main-menu-item {
    width: -moz-max-content;
    width: max-content;
  }
  .header.nav-bg {
    display: none;
  }
}

.home {
  width: 100%;
  min-height: 100vh;
  background: url("../img/main/main-bg.png") no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}
.home-icon {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.home-icon.rainbow {
  background: url("../img/main/emoji_rainbow.png") no-repeat center #fff;
  background-size: 46px;
  transition: transform 0.1s ease-out;
  top: -10px;
  right: 0;
}
.home-icon.rainbow:hover {
  background: url("../img/main/emoji_rainbow_hover.gif") no-repeat 10px 8px #fff;
  background-size: 46px;
}
.home-icon.heart {
  background: url("../img/main/emoji_heart.png") no-repeat center #fff;
  background-size: 50px;
  top: 0;
  left: 50%;
}
.home-icon.heart:hover {
  background: url("../img/main/emoji_heart_hover.gif") no-repeat center #fff;
  background-size: 50px;
}
.home-icon.greet {
  background: url("../img/main/emoji_greet.png") no-repeat center #fff;
  background-size: 42px;
  right: -50px;
  top: -10px;
}
.home-icon.greet:hover {
  background: url("../img/main/emoji_greet_hover.gif") no-repeat center #fff;
  background-size: 42px;
}
@media (max-width: 767px) {
  .home-icon {
    width: 40px;
    height: 40px;
  }
  .home-icon.rainbow {
    background: url("../img/main/emoji_rainbow_hover.gif") no-repeat 10px 8px #fff;
    background-size: 26px;
    top: -14px;
    right: -10px;
  }
  .home-icon.heart {
    background: url("../img/main/emoji_heart_hover.gif") no-repeat center #fff;
    background-size: 26px;
    top: -10px;
    left: 44%;
  }
  .home-icon.greet {
    background: url("../img/main/emoji_greet_hover.gif") no-repeat center #fff;
    background-size: 26px;
    right: 0;
    top: -16px;
  }
}
.home-tit {
  padding: 0 10rem;
}
.home-tit h2 {
  width: -moz-max-content;
  width: max-content;
  font-size: 100px;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.05rem;
  line-height: 1.2;
  color: #fff;
  position: relative;
  z-index: 1;
  position: relative;
}
.home-tit h2::after {
  content: ",";
  font-family: "Lato", sans-serif;
}
.home-tit h2:last-of-type::after {
  display: none;
}
@media (max-width: 767px) {
  .home-tit {
    padding: 16rem 1.5rem 0;
  }
  .home-tit h2 {
    font-size: 44px;
    line-height: 1.4;
  }
}
.home-deco-img {
  position: absolute;
  transition: transform 0.1s ease-out;
}
.home-deco-img.img-01 {
  bottom: 5%;
  right: 25%;
  width: 200px;
}
.home-deco-img.img-03 {
  top: 5%;
  left: 45%;
  width: 160px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7rem 3.5rem;
  margin: 0 2rem;
}
.about-desc-tit {
  font-size: 3rem;
  letter-spacing: -0.15rem;
  line-height: 1.4;
  margin-bottom: 3.5rem;
}
.about-desc-tit .underline {
  position: relative;
  display: inline-block;
  color: #319afa;
}
.about-desc-tit .underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: #319afa;
  transition: width 0.5s;
  z-index: 0;
}
.about-desc-tit .underline.active::after {
  width: 100%;
}
.about-desc-sub {
  margin-bottom: 3.5rem;
}
.about-desc-sub p {
  font-size: 18px;
  letter-spacing: -0.05rem;
  line-height: 1.4;
  line-height: 1.6;
  color: #666;
  margin-top: 2rem;
}
.about-img {
  width: 450px;
  margin-right: 20px;
  position: relative;
}
.about-img-profile {
  width: 100%;
  height: 100%;
  display: block;
}
.about-deco-img {
  position: absolute;
  width: 70px;
}
.about-deco-img.html {
  top: 80px;
  left: -40px;
  transform: rotate(45deg);
}
.about-deco-img.css {
  right: -30px;
  top: 240px;
  transform: rotate(-30deg);
}
.about-deco-img.js {
  top: -20px;
  right: 40px;
  transform: rotate(25deg);
}
.about-deco-img.figma {
  right: -20px;
  bottom: -30px;
  border-radius: 14px;
  transform: rotate(20deg);
}
.about-deco-img.github {
  top: -50px;
  left: 100px;
  border-radius: 14px;
  transform: rotate(-25deg);
}
.about-more {
  font-size: 18px;
  letter-spacing: -0.05rem;
  line-height: 1.4;
  display: flex;
  align-items: center;
  line-height: normal;
  width: -moz-max-content;
  width: max-content;
}
.about-more:hover {
  font-weight: 600;
}
.about-more:hover .more-arrow {
  background: url("../img/icon_right_arrow_hover.gif") no-repeat center;
  background-size: 22px;
}
@media (max-width: 767px) {
  .about {
    flex-direction: column-reverse;
    margin: 0;
    padding: 3rem 1.5rem;
  }
  .about-img {
    margin-right: 0;
    width: 100%;
  }
  .about-desc-tit {
    font-size: 28px;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .about-desc-tit .underline::after {
    height: 2px;
  }
  .about-desc-sub p {
    font-size: 16px;
  }
}

.work {
  padding: 0 3.5rem;
}
.work-wrap {
  border-top: 1px solid #ddd;
}
.work-inside {
  display: flex;
  align-items: start;
  border-bottom: 1px solid #ddd;
}
.work-inside-left {
  flex: 0 0 auto;
  width: 33.33333333%;
  min-height: 3300px;
}
.work-inside-left--controls {
  position: sticky;
  top: 0;
  left: 0;
  padding: 3rem 0 0 0;
  top: 20px;
}
.work-inside-left--controls p.tit {
  font-family: "GhanaChocolate", sans-serif;
  font-size: 32px;
  margin-bottom: 4px;
}
.work-inside-left--controls p.sub {
  color: #bbb;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
@media (max-width: 767px) {
  .work-inside {
    flex-direction: column;
  }
  .work-inside-left {
    min-height: auto;
    width: 100%;
  }
  .work-inside-left--controls p.tit {
    font-size: 28px;
  }
  .work-inside-left--controls p.sub {
    font-size: 18px;
  }
}
.work-contents {
  width: 100%;
  border-left: 1px solid #ddd;
  padding: 2rem 0;
}
.work-contents .list {
  display: flex;
  align-items: start;
  gap: 50px;
  padding: 0 2rem;
  justify-content: flex-start;
}
.work-contents .list-item {
  flex: 1 1 45%;
  cursor: pointer;
}
.work-contents .list-item:not(:first-child) {
  margin-top: 250px;
}
.work-contents .list-item img {
  width: 100%;
}
.work-contents .list-item-txt {
  margin-top: 1rem;
}
.work-contents .list-item-txt > div {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.work-contents .list-item-tit {
  margin-bottom: 0.5rem;
}
.work-contents .list-item-tit h4 {
  font-size: 26px;
  letter-spacing: -0.05rem;
}
.work-contents .list-item-tit p {
  font-family: "Lato", sans-serif;
}
.work-contents .list-item-info p {
  color: #bbb;
  letter-spacing: -0.05rem;
}
.work-contents .list-item-info p:first-child {
  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  .work-contents {
    border-left: 0;
  }
  .work-contents .list {
    flex-direction: column;
    padding: 0;
    margin-bottom: 80px;
    gap: 80px;
  }
  .work-contents .list-item:not(:first-child) {
    margin-top: 0px;
  }
  .work-contents .list-item-tit h4 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .work {
    padding: 0 1.5rem;
  }
}

.disign {
  margin: 10rem 0;
}
.disign-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.disign-tit {
  color: #bbb;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.disign-tit span {
  font-family: "GhanaChocolate", sans-serif;
  font-size: 32px;
  margin-bottom: 4px;
}
.disign-tit-sub {
  font-size: 18px;
  letter-spacing: -0.05rem;
  line-height: 1.4;
  line-height: 1.6;
}
.disign-list {
  position: relative;
}
.disign-list-wrap {
  margin-top: 3.5rem;
}
.disign-item {
  position: relative;
}
.disign-item-name {
  font-size: 26px;
  min-width: 240px;
  color: #bbb;
  font-family: "Lato", sans-serif;
}
.disign-item-sub {
  text-align: left;
  min-width: 300px;
  color: #bbb;
}
.disign-item::after {
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
  background-color: #d9d9d9;
}
.disign-item::before {
  content: "";
  width: 0;
  height: 1px;
  display: block;
  background-color: black;
  position: absolute;
  bottom: 4px;
  transition: width 0.5s ease;
}
.disign-item:hover .disign-item-name,
.disign-item:hover .disign-item-sub {
  color: #242424;
  font-weight: 600;
}
.disign-item:hover::before {
  width: 100%;
}
.disign-item:hover .arrow {
  background: url("../img/icon_arrow_black.png") no-repeat center;
  background-size: 20px;
}
.disign-item-box {
  display: grid;
  grid-template-columns: 1fr 1fr 20px;
  padding: 2rem 2rem 1rem;
  align-items: center;
  cursor: pointer;
}
.disign-item-box .arrow {
  background: url("../img/icon_arrow_gray.png") no-repeat center;
  width: 30px;
  height: 30px;
  background-size: 20px;
  order: 3;
}
.disign-item .img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -99;
}
.disign-item .img-wrap img {
  transform: translate(-50%, -120%);
  position: absolute;
  opacity: 0.85;
  width: 430px;
  height: 300px;
}
@media (max-width: 767px) {
  .disign {
    margin: 7rem 0;
  }
  .disign-info {
    flex-direction: column;
    gap: 20px;
  }
  .disign-list-wrap {
    margin-top: 2rem;
  }
  .disign-tit {
    font-size: 18px;
  }
  .disign-tit span {
    font-size: 28px;
  }
  .disign-tit-sub {
    font-size: 16px;
  }
  .disign-item-name {
    grid-column: span 10/span 10;
  }
  .disign-item-sub {
    grid-column: 1/-1;
    margin-top: 10px;
  }
  .disign-item-box {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: auto auto 20px;
    padding: 1.3rem 0.5rem 0.5rem;
    margin-bottom: -16px;
  }
  .disign-item-box .arrow {
    grid-column: span 2/span 2;
    justify-self: end;
    align-self: start;
    order: unset;
  }
  .disign .img-wrap {
    display: none;
  }
}

.contact {
  background-color: #262A35;
  position: relative;
  padding: 7rem 3.5rem 3.5rem;
}
.contact-tit p {
  color: #fff;
  margin-bottom: 0.4rem;
  font-size: 18px;
  letter-spacing: -0.05rem;
  font-weight: 300;
}
.contact-tit h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.05rem;
  font-size: 80px;
  line-height: 1;
}
.contact-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 3.5rem;
}
.contact-info-list {
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
  gap: 6px;
}
.contact-info-list img {
  width: 22px;
  height: 22px;
  opacity: 0.4;
  margin-right: 4px;
}
.contact-info-list p, .contact-info-list a {
  color: #fff;
  font-size: 16px;
}
.contact-info-list p.name, .contact-info-list a.name {
  min-width: 70px;
  color: rgba(255, 255, 255, 0.4);
}
.contact-info .copylight {
  color: rgba(255, 255, 255, 0.2);
}
.contact-img {
  position: absolute;
  left: 600px;
  top: 125px;
}
.contact-img img {
  animation: rotate_image 10s linear infinite;
  transform-origin: 50% 50%;
  width: 160px;
}
@media (max-width: 767px) {
  .contact {
    padding: 5rem 1.5rem 3rem;
  }
  .contact-tit h2 {
    font-size: 40px;
    line-height: 1.2;
  }
  .contact-tit p {
    font-size: 16px;
    margin-bottom: 1rem;
  }
  .contact-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  .contact-info-list {
    margin-top: 0;
    margin-bottom: 0.4rem;
  }
  .contact-info .copylight {
    font-size: 12px;
  }
  .contact-img {
    left: unset;
    right: 5%;
    top: 100px;
  }
  .contact-img img {
    width: 70px;
  }
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-container {
  background-color: #fefefe;
  margin-top: 4rem;
  border: 1px solid #888;
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.modal-container.scroll .view-tit-left-sub {
  opacity: 0;
}
.modal-container.scroll .view-tit::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid #d9d9d9;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .modal-container {
    margin-top: 4rem;
  }
}

.view {
  max-width: 1172px;
  margin: 4rem auto 6rem;
}
.view-tit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 0;
  padding: 1rem 0;
}
.view-tit-left h2 {
  font-size: 32px;
  letter-spacing: -0.05rem;
}
.view-tit-right {
  display: flex;
  align-items: center;
}
.view-tit-right p {
  font-size: 18px;
  margin-left: 10px;
}
.view-tit-right p span {
  font-weight: 600;
  padding-right: 6px;
  color: #f05735;
}
.view-tit-sub {
  color: #bbb;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  .view-tit {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    top: -1px;
  }
  .view-tit-sub {
    font-size: 14px;
    margin-left: 1rem;
  }
  .view-tit-left h2 {
    font-size: 26px;
  }
  .view-tit-right p {
    margin-left: 0;
    margin-top: 6px;
    font-size: 16px;
  }
}
.view-info {
  margin: 3.5rem 0;
}
.view-info-sub {
  font-size: 18px;
  letter-spacing: -0.05rem;
  line-height: 1.4;
  line-height: 1.6;
}
.view-info-more {
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  margin-top: 2rem;
}
.view-info-more p {
  font-size: 18px;
  letter-spacing: -0.05rem;
  line-height: 1.4;
}
.view-info-more p::after {
  content: "";
  display: block;
  width: 0;
  height: 1.5px;
  background: #242424;
  transition: all 0.5s;
}
.view-info-more:hover p {
  font-weight: 600;
}
.view-info-more:hover p::after {
  width: 100%;
}
.view-info-more:hover .more-arrow {
  background: url("../img/icon_right_arrow_hover.gif") no-repeat center;
  background-size: 22px;
}
.view-info-more-arrow {
  margin-top: -3px;
}
.view-content-box {
  border: 1px solid #000;
  border-radius: 12px;
  overflow: hidden;
  background-color: #f3f4f6;
  margin-bottom: 2rem;
}
.view-content-box:has(.img-03) {
  background-color: #242424;
}
.view-content img {
  max-width: 100%;
  display: block;
}
.view-content .half {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.view.cdp .view-tit-right span {
  color: #403cff;
}
.view.starhorse .view-tit-right span {
  color: #233cee;
}
.view.starhorse .half .view-content-box {
  background-color: #edf6fc;
}
.view.sweat .view-tit-right span {
  color: #55d542;
}
.view.sweat .img-01 {
  max-width: calc(100% + 2px);
}
.view.sweat .img-05 {
  background-color: #242424;
  padding: 1rem 0;
}
.view.somayoga .view-tit-right span {
  color: #42705c;
}
.view.somayoga .img-01 {
  padding: 1rem 0;
}
.view.simplica .view-tit-right span {
  color: #D4C4B7;
}
.view.mamapick .view-tit-right span {
  color: #ffd600;
}
.view.mamapick .img-01 {
  max-width: calc(100% + 2px);
}
.view.octobooks .view-tit-right span {
  color: #37b3d7;
}
.view.octobooks .img-01 {
  max-width: calc(100% + 2px);
}
.view.octobooks .half .view-content-box {
  background-color: #e8f6ff;
}
.view.sns .view-tit-right span {
  color: #ff8053;
}
.view.product .view-tit-right span {
  color: #10a46e;
}
.view.event .view-tit-right span {
  color: #5c5db9;
}
.view.event .img-06 {
  padding: 2rem;
}
.view.card .view-tit-right span {
  color: #ef5fa4;
}
@media (max-width: 767px) {
  .view {
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 2rem auto 6rem;
  }
  .view-info {
    margin: 2rem 1rem;
  }
  .view-info-sub {
    font-size: 16px;
  }
  .view-info-more p {
    font-size: 16px;
    font-weight: 600;
  }
  .view-info-more .more-arrow {
    margin-left: 4px;
    background-size: 20px;
    width: 22px;
    height: 22px;
  }
  .view-content {
    padding: 0 1rem;
  }
}

.close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 8px;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.close img {
  width: 24px;
}
.close:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .close {
    top: 15px;
    right: 8px;
    width: 30px;
    height: 30px;
  }
  .close img {
    width: 20px;
  }
}