@charset "UTF-8";

// 색상
$black: #000;
$primary_color: #000;
$secondary_color: #d9d9d9;

// 폰트
$font_size_sm: 16px;
$font-size_md: 32px;
$base-font: 'Noto Sans KR', sans-serif;

// 여백
$header-height: 7rem;
$pd-8: 2rem;
$pd-14: 3.5rem;

@mixin flexBox($align) {
    display: flex;
    align-items: $align;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}