@charset "UTF-8";

// 색상
$black: #242424;
$primary_color: #000;
$secondary_color: #d9d9d9;
$gray: #bbb;
$dark-gray: #666;
$white: #fff;

// 폰트
$font_size_xs: 16px;
$font_size_sm: 18px;
$font_size_md: 26px;
$font_size_lg: 32px;
$font_size_xl: 46px;
$base-font: "Pretendard Variable", Pretendard, sans-serif;
$en-font: "Lato", sans-serif;
$sub-font: "GhanaChocolate", sans-serif;
$en-tit-font: "Poppins", sans-serif;

@mixin textXs{
    font-size: $font_size_xs;
    letter-spacing: -0.05rem;
    line-height: 1.4;
}


@mixin textSm{
    font-size: $font_size_sm;
    letter-spacing: -0.05rem;
    line-height: 1.4;
}

// 여백
$spacing-xs: 1rem;
$spacing-sm: 2rem;
$spacing-md: 3.5rem;
$spacing-lg: 7rem;
$spacing-xl: 10rem;
// $spacing-xxl: 40px;
// $spacing-xxxl: 48px;

// 반응형 
$breakpoint-mobile: 335px;
$breakpoint-tablet: 720px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1800px;
/*반응형 화면 크기*/
$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;


@mixin mobile{
  @media (max-width: $mobile){
    @content;
  }
}

/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
@mixin tablet{
  @media (min-width: $mobile) and (max-width: $tablet){
    @content;
  }
}

@mixin flexBox($align) {
    display: flex;
    align-items: $align;
}

@font-face {
    font-family: 'YClover-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Handletter';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Handletter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}