@charset "UTF-8";

// 색상
$black: #000;
$primary_color: #000;
$secondary_color: #d9d9d9;
$gray: #bbb;
$dark-gray: #666;

// 폰트
$font_size_xs: 16px;
$font_size_sm: 18px;
$font_size_md: 26px;
$font_size_lg: 32px;
$font_size_xl: 46px;
$base-font: "Pretendard Variable", Pretendard, sans-serif;
$en-font: "Lato", sans-serif;
$sub-font: 'GhanaChocolate', sans-serif;

@mixin textXs{
    font-size: $font_size_xs;
    letter-spacing: -0.05rem;
    line-height: 1.4;
}


@mixin textSm{
    font-size: $font_size_sm;
    letter-spacing: -0.05rem;
    line-height: 1.4;
}


// 여백
$spacing-xs: 1rem;
$spacing-sm: 2rem;
$spacing-md: 3.5rem;
$spacing-lg: 7rem;
$spacing-xl: 10rem;
// $spacing-xxl: 40px;
// $spacing-xxxl: 48px;


@mixin flexBox($align) {
    display: flex;
    align-items: $align;
}