@charset "UTF-8";

@import 'reset';
@import 'variables';

body {
    width: 100%;
    height: 100%;
    transition: background-color 1s ease;
    background-color: $white;
    margin: 0;
    line-height: 1.2;
    overflow-x: hidden;
    &.open {
        overflow: hidden;
        .header {
            opacity: 0;
        }
    }
}

.more-arrow {
    background: url('../img/icon_right_arrow.png')no-repeat center;
    background-size: 22px;
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-left: 6px;
}

* {
    color: $black;
    font-family: $base-font;
}
.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 70px;
    z-index: 20;
    min-width: 1260px;
    background-color: transparent;
    transition: all 0.2s;
    &__inner {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 20px 0;
        transition: all 0.2s;
    }
    .main-menu {
        @include flexBox(center);
        justify-content: space-between;
        vertical-align: middle;
        box-sizing: border-box;
        width: 100%;
        padding: 0 $spacing-md;
        .logo {
            a {
                color: $white;
                font-size: $font-size_md;
                font-family: 'Handletter', sans-serif;
            }
     
        }
        &-container {
            @include flexBox(center);
            justify-content: space-between;
            gap: $spacing-md;
        }
        &-item{
            .menu-name{
                color: $white;
                font-size: $font-size_xs;
            }
            &::after{
                content: "";
                display: block;
                width: 0;
                height: 1.5px;
                background: $white;
                transition: all .5s;
            }
            &:hover::after{
                width: 100%;
            }
        }
    }
    &.nav-up {
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }
    &.nav-bg {
        background-color: rgba(255, 255, 255, .4);
        backdrop-filter: blur(4px);
        .main-menu-item{
            &::after{
                background: $black;
            }
        }
        .menu-name ,
        .logo > a {
            color: $black;
        }
    }
    @include mobile {
        position: absolute;
        width: 100%;
        min-width: auto;
        .main-menu {
            @include flexBox(start);
            padding: 0 1.5rem;
            &-container {
                flex-direction: column;
                gap: 1rem;
                align-items: end;
            }
            &-item {
                width: max-content;
            }
        }
        &.nav-bg {
            display: none;
        }
    }
}

.home {
    width: 100%;
    min-height: 100vh;
    background: url('../img/main/main-bg.png')no-repeat center;
    position: relative;
    &-tit {
        padding: 8rem 10rem 0;
        h2 {
            font-size: 100px;
            font-family: $en-tit-font;
            letter-spacing: -0.05rem;
            line-height: 1.2;
            color: $white;
            position: relative;
            z-index: 1;
            img {
                vertical-align: sub;
                margin: 0 -8px 0 -3px;
                &.rotate-on-mouse {
                    position: relative;
                    transition: transform 0.1s ease-out; /* 부드러운 움직임을 위해 전환 효과 추가 */
                }
            }
            &::after {
                content: ",";
                font-family: $en-font;
            }
            &:last-of-type::after {
                display: none
            }
        }
        @include mobile { 
            padding: 14rem 1.5rem 0;
            h2 {
                font-size: 48px;
                line-height: 1.8;
            }
        }
      
    }
    &-deco {
        &-img {
            position: absolute;
            transition: transform 0.1s ease-out;
            &.img-01 {
                bottom: 5%;
                right: 25%;
                width: 200px;
            }
            &.img-03 {
                top: 5%;
                left: 45%;
                width: 160px;
            }
        }
    }
    &-icon {
        @include flexBox(center);
        justify-content: center;
        background-color: $white;
        border-radius: 8px;
        width: 60px;
        height: 60px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
        position: absolute;
        z-index: 1;
        &.rainbow {
            top: 16%;
            left: 44%;
            background: url('../img/main/emoji_rainbow.png') no-repeat center #fff;
            background-size: 46px;
            &:hover{
                background: url('../img/main/emoji_rainbow_hover.gif') no-repeat 10px 8px #fff;
                background-size: 46px;
            }
        }
        &.heart {
            left: 30%;
            top: 50%;
            background: url('../img/main/emoji_heart.png') no-repeat center #fff;
            background-size: 50px;
            &:hover{
                background: url('../img/main/emoji_heart_hover.gif') no-repeat center #fff;
                background-size: 50px;
            }
        }
        &.greet {
            bottom: 25%;
            left: 58%;
            background: url('../img/main/emoji_greet.png') no-repeat center #fff;
            background-size: 42px;
            &:hover{
                background: url('../img/main/emoji_greet_hover.gif') no-repeat center #fff;
                background-size: 42px;
            }
        }
        @include mobile {
            width: 50px;
            height: 50px;
           
            &.rainbow {       
                background: url('../img/main/emoji_rainbow_hover.gif') no-repeat 10px 8px #fff;
                background-size: 36px;
                top: 35%;
                left: 53%;
                &:hover {
                    background-size: 36px;
                }
            }
            &.heart {
                background: url('../img/main/emoji_heart_hover.gif') no-repeat center #fff;
                background-size: 36px;
                left: 60%;
                &:hover {
                    background-size: 36px;
                }
            }
        }
    }
}


.about {
    @include flexBox(center);
    justify-content: space-between;
    padding: $spacing-lg $spacing-md;
    margin: 0 $spacing-sm;
    &-desc {
        &-tit {
            font-size: 3rem;
            letter-spacing: -0.15rem;
            line-height: 1.4;
            margin-bottom: $spacing-md;
            .underline {
                position: relative;
                display: inline-block;
                color: #319afa;
            }
            
            .underline::after {
                content: '';
                position: absolute;
                width: 0;
                height: 6px;
                bottom: 0;
                left: 0;
                background-color: #319afa;
                transition: width 0.5s;
                z-index: 0;
            }
            
            .underline.active::after {
                width: 100%;
            }
        }
        &-sub {
            margin-bottom: $spacing-md;
            p {
                @include textSm;
                line-height: 1.6;
                color: $dark-gray;
                margin-top: $spacing-sm;
               
            }
        }
    }
    &-img {
        width: 450px;
        margin-right: 20px;
        position: relative;
        &-profile {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    &-deco {
        &-img {
            position: absolute;
            width: 70px;
            &.html {
                top: 80px;
                left:-40px;
                transform: rotate(45deg);
            }
            &.css {
                right: -30px;
                top: 240px;
                transform: rotate(-30deg);
            }
            &.js {
                top: -20px;
                right: 40px;
                transform: rotate(25deg);
            }
            &.figma {
                right: -20px;
                bottom: -30px;
                border-radius: 14px;
                transform: rotate(20deg);
            }
            &.github {
                top: -50px;
                left: 100px;
                border-radius: 14px;
                transform: rotate(-25deg);
            }
        }
    }
    &-more {
        @include textSm;
        @include flexBox(center);
        line-height: normal;
        width: max-content;
        &:hover {
            font-weight: 600;
            .more-arrow {
                background: url('../img/icon_right_arrow_hover.gif')no-repeat center;
                background-size: 22px;
            }
        }
    }
    @include mobile { 
       flex-direction: column-reverse;
       margin: 0;
       padding: 3rem 1.5rem;
       &-img {
        margin-right: 0;
        width: 100%;
       }
       &-desc {
        &-tit {
            font-size: 2rem;
            margin-bottom: 0;
            margin-top: 1rem;
        }
        &-sub {
            p {
                font-size: 16px;
            }
        }
       }
    }
}

.work {
    padding: 0 $spacing-md;
    &-wrap {
        border-top: 1px solid #ddd;
    }
    &-inside {
        @include flexBox(start);
        border-bottom: 1px solid #ddd;
        &-left {
            flex: 0 0 auto;
            width: 33.33333333%;
            min-height: 3300px;
          &--controls {
            position: sticky;
            top: 0;
            left: 0;
            padding: 3rem 0 0 0;
            top: 20px;
            p {
              &.tit {
                font-family: $sub-font;
                font-size: $font_size_lg;
                margin-bottom: 4px;
              }
              &.sub {
                color: $gray;
                font-family: $en-font;
                font-size: 20px;
              }
            }
          }
        }
        @include mobile { 
           flex-direction: column;
           &-left {
            min-height: auto;
            width: 100%;
            &--controls {
                p{
                    &.tit {
                        font-size: 28px;
                    }
                    &.sub {
                        font-size: 18px;
                    }
                }
            }
           }
           
        }
    }
    &-contents{
        width: 100%;
        border-left: 1px solid #ddd;
        padding: $spacing-sm 0;
        .list {
            @include flexBox(start);
            gap: 50px;
            padding: 0 $spacing-sm;
            justify-content: flex-start;
            &-item {
                flex: 1 1 45%;
                cursor: pointer;
                &:not(:first-child){
                    margin-top: 250px;
                }
                img {
                    width: 100%;
                }
                &-txt {
                    margin-top: $spacing-xs;
                    > div {
                        @include flexBox(flex-end);
                        justify-content: space-between;
                    }
                }
                &-tit {
                    margin-bottom: 0.5rem;
                    h4 {
                        font-size: $font_size_md;
                        letter-spacing: -0.05rem;
                    }
                    p{
                        font-family: $en-font;
                    }
                }
                &-info {
                    p{
                        color: $gray;
                        letter-spacing: -0.05rem;
                        &:first-child {
                            font-family: $en-font;
                        }
                    }
                }
            }
        }
        @include mobile { 
            border-left: 0;
            .list {
                flex-direction: column;
                padding: 0;
                margin-bottom: 80px;
                gap: 80px;
                &-item {
                    &:not(:first-child){
                        margin-top: 0px;
                    }
                    &-tit {
                        h4 {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
    @include mobile { 
        padding: 0 1.5rem;
    }
}
.disign{
    margin: $spacing-xl 0;
    &-info {
        @include flexBox(start);
        justify-content: space-between;
     }
     &-tit {
         color: $gray;
         font-family: $en-font;
         font-size: 20px;
         display: flex;
         flex-direction: column;
          span {
            font-family: $sub-font;
            font-size: $font_size_lg;
            margin-bottom: 4px;
          }
          &-sub {
            @include textSm;
            line-height: 1.6;
          }
     }
    &-list {
        position: relative;
        &-wrap {
            margin-top: $spacing-md;
        }
    }
    &-item {
        position: relative;
        &-name {
            font-size: $font-size_md;
            min-width: 240px;
            color: $gray;
            font-family: $en-font;
        }
        &-sub {
            text-align: left;
            min-width: 300px;
            color: $gray;
        }
        &::after{
            content: '';
            width: 100%;
            height: 1px;
            display: inline-block;
            background-color: $secondary_color;
        }
        &::before {
            content: '';
            width: 0;
            height: 1px;
            display: block;
            background-color: black; 
            position: absolute;
            bottom: 4px;
            transition: width 0.5s ease; 
          }
          
          &:hover {
            .disign-item-name, 
            .disign-item-sub {
                color: $black;
                font-weight: 600;
            }
            &::before{
                width: 100%;
            }
            .arrow {
                background: url('../img/icon_arrow_black.png')no-repeat center;
                background-size: 20px;
            }
          }
        &-box {
            display: grid;
            grid-template-columns: 1fr 1fr 20px;
            padding: $spacing-sm $spacing-sm 1rem;
            align-items: center;
            cursor: pointer;
            .arrow {
                background: url('../img/icon_arrow_gray.png')no-repeat center;
                width: 30px;
                height: 30px;
                background-size: 20px;
            }
        }
        .img-wrap {
            position: absolute; top: 0; left: 0; visibility: hidden; z-index: -99;
            img {
                transform: translate(-50%, -120%);
                position: absolute;
                opacity: 0.85;
                width: 430px;
                height: 300px;
            }
        }
    }
    @include mobile { 
        margin: $spacing-lg 0;
        &-info {
            flex-direction: column;
            gap: 20px;
        }
        &-tit {
            font-size: 18px;
            span {
                font-size: 28px;
            }
            &-sub {
                font-size: 16px;
            }
        }
        &-item {
            &-box {
                span {
                    grid-column: 1 / -1;
                    &:last-of-type {
                        margin-top: $spacing-xs;
                    }
                }
                .arrow {
                    grid-column: 2 / 3;
                    grid-row: 1 / span 2; 
                    justify-self: end; 
                    align-self: start;
                }
                grid-template-columns: 1fr;
                grid-template-rows: auto auto 20px;
                padding: 1.3rem $spacing-xs 0.5rem;
                margin-bottom: -16px;
            }
        }
        .img-wrap{
            display: none;
        }
    }
}

.contact{
    background-color: #262A35;
    position: relative;
    padding: $spacing-lg $spacing-md $spacing-md;
    &-tit {
        p{
            color: $white;
            margin-bottom: 0.4rem;
            font-size: $font-size_sm;
            letter-spacing: -0.05rem;
            font-weight: 300;
        }
        h2 {
            color: $white;
            font-family: $en-tit-font;
            letter-spacing: -0.05rem;
            font-size: 80px;
            line-height: 1;
        }
    }
    &-info {
        @include flexBox(flex-end);
        justify-content: space-between;
        margin-top: $spacing-md;
        &-list {
            @include flexBox(center);
            margin-top: 0.8rem;
            gap: 6px;
            img{
                width: 22px;
                height: 22px;
                opacity: 0.4;
                margin-right: 4px;
            }
            p, a {
                color: $white;
                font-size: $font-size_xs;
                &.name {
                    min-width: 70px;
                    color: rgba(255, 255, 255, 0.4);
                }
            }
        }
        .copylight{
            color: rgba(255, 255, 255, 0.2);
        }
    }
    &-img {
        position: absolute;
        left: 600px;
        top: 125px;
        img {
            animation: rotate_image 10s linear infinite;
            transform-origin: 50% 50%;
            width: 160px;
        }
    }
}

@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}


// 프로젝트 소개 페이지
.modal {
    display: none;
    position: fixed; 
    z-index: 99; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6); 
    &-container {
        background-color: #fefefe;
        margin-top: 6rem;
        border: 1px solid #888;
        border-radius: 12px 12px 0 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        &.scroll {
            .view-tit{
                &-left-sub {
                    opacity: 0;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 100vw;
                    height: 100%;
                    transition: 0.3s ease-in-out;
                    border-bottom: 1px solid $secondary_color;
                    transform: translateX(-50%);
                }
                
            }
        }
    }
}
.view {
    max-width: 1172px;
    margin: 4rem auto 6rem;
    &-tit {
        @include flexBox(center);
        justify-content: space-between;
        background-color: white;
        position: sticky;
        top: 0;
        padding: $spacing-xs 0;
        &-left {
            h2{
                font-size: $font_size_lg;
                letter-spacing: -0.05rem;
            }
        }
        &-right {
            @include flexBox(center);
            p {
                font-size: $font-size_sm;
                margin-left: 10px;
                span {
                    font-weight: 600;
                    padding-right: 6px;
                    color: #f05735;
                }
            }
        }
        &-sub {
            color: $gray;
            font-size: $font-size_sm;
            font-family: $en-font;
        }
    }
    &-info {
        margin: $spacing-md 0;
        &-sub {
           @include textSm;
           line-height: 1.6;
        }
        &-more{
            @include flexBox(center);
            width: max-content;
            margin-top: $spacing-sm;
            p {
                @include textSm;
                &::after{
                    content: "";
                    display: block;
                    width: 0;
                    height: 1.5px;
                    background: $black;
                    transition: all .5s;
                }
            }
            &:hover {
                p {
                    font-weight: 600;
                    &::after {
                        width: 100%;
                    }
                }
                .more-arrow {
                    background: url('../img/icon_right_arrow_hover.gif')no-repeat center;
                    background-size: 22px;
                }
            }
            &-arrow {
                margin-top: -3px;
            }
        }
    }
    &-content {
        &-box { 
            border: 1px solid #000;
            border-radius: 12px;
            overflow: hidden;
            background-color: #f3f4f6;
            margin-bottom: $spacing-sm;
            &:has(.img-03) {
                background-color: $black;
            }
        }
        img {
            max-width: 100%;
            display: block;
        }
        .half {
            @include flexBox(center);
            gap: $spacing-sm;
        }
    }
    // cpd
    &.cdp {
        .view-tit-right span {
            color: #403cff;
        }
    }
    // 스타홀스
    &.starhorse {
        .view-tit-right span {
            color: #233cee;
        }
        .half {
            .view-content-box {
                background-color: #edf6fc;
            }
        }
    }
    // 스웨트
    &.sweat{
        .view-tit-right span {
            color: #55d542;
        }
        .img-01{
            max-width: calc(100% + 2px);
        }
        .img-05 { 
            background-color: $black;
            padding: $spacing-xs 0;
        }
    }
    // 소마요가
    &.somayoga {
        .view-tit-right span {
            color: #42705c;
        }
        .img-01{
            padding: $spacing-xs 0;
        }
    }
    // 심플리카
    &.simplica {
        .view-tit-right span {
            color: #D4C4B7;
        }
    }
    // 마마픽
    &.mamapick {
        .view-tit-right span {
            color: #ffd600;
        }
        .img-01{
            max-width: calc(100% + 2px);
        }
    }
    // 옥토북스 영역
    &.octobooks {
        .view-tit-right span{ 
            color: #37b3d7;
        }
        .img-01{
            max-width: calc(100% + 2px);
        }
        .half {
            .view-content-box {
                background-color: #e8f6ff;
            }
        }
    }
    // 디자인
    &.sns {
        .view-tit-right span {
            color: #ff8053;
        }
    }
    &.product {
        .view-tit-right span {
            color: #10a46e;
        }
    }
    &.event {
        .view-tit-right span {
            color: #5c5db9;
        }
        .img-06 {
            padding: $spacing-sm;
        }
    }
    &.card {
        .view-tit-right span {
            color: #ef5fa4;
        }
    }
}

.close {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 26px;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    img {
     width: 30px;  
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}
